<main>
    <div>
        <h1>Contacto</h1>
    </div>
    <section>
        <article>
            <p><b>Teléfono:</b> +54 9 11 4000-0000</p><br/>
            <p><b>Dirección:</b> Av. de Mayo 123</p>
        </article>
    </section>
</main>