<main>
    <div>
        <h1>Nosotros</h1>
    </div>
    <section>
        <article>
            <h2>Lautaro Jaimes</h2>
            <p><b>Profesión:</b> Estudiante</p>
        </article>
    </section>
</main>