<main>
    <div>
        <h1>Productos</h1>
    </div>
    <section>
        <article>
            <h2>Producto 1</h2>
            <p><b>Detalles:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maiores impedit illo dolorem in placeat totam, fuga aut eaque reprehenderit veritatis quisquam similique, vero eos excepturi consectetur repellat dolore ex.</p>
        </article>
        <article>
            <h2>Producto 2</h2>
            <p><b>Detalles:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maiores impedit illo dolorem in placeat totam, fuga aut eaque reprehenderit veritatis quisquam similique, vero eos excepturi consectetur repellat dolore ex.</p>
        </article>
        <article>
            <h2>Producto 3</h2>
            <p><b>Detalles:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maiores impedit illo dolorem in placeat totam, fuga aut eaque reprehenderit veritatis quisquam similique, vero eos excepturi consectetur repellat dolore ex.</p>
        </article>
    </section>
</main>